In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import warnings
import pandas as pd
DATA=pd.read_csv(r"C:\Users\diego\OneDrive\Desktop\DS\kaggle_datasets\covid_Tuscany\covidars20220615.csv",sep='|')
DATA.drop(['totale_casi_positivi_ab','letalita'],axis=1,inplace=True)
#
DATA

,geografia,giorno,data,totale_casi_positivi,deceduti,deceduti_inc,totale_ricoveri,totale_ricoveri_inc,attualmente_positivi,dimessi,tamponi,tamponi_inc
0,AR,0,24/2/2020,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FI,0,24/2/2020,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GR,0,24/2/2020,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LI,0,24/2/2020,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LU,0,24/2/2020,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
11797,SI,842,15/6/2022,82487,537.0,0.186567,NaN,NaN,NaN,NaN,NaN,NaN
11798,Toscana,842,15/6/2022,1167901,10134.0,0.039487,228.0,-0.436681,26052.0,1131715.0,6815858.0,0.024713
11799,aslCENTRO,842,15/6/2022,497422,4936.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
11800,aslNO,842,15/6/2022,418719,3474.0,0.057604,NaN,NaN,NaN,NaN,NaN,NaN
11801,aslSE,842,15/6/2022,251205,1585.0,0.126342,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
DATA.isna().sum()

geografia                   0
giorno                      0
data                        0
totale_casi_positivi        0
deceduti                  182
deceduti_inc              285
totale_ricoveri         10959
totale_ricoveri_inc     10961
attualmente_positivi    10959
dimessi                 10959
tamponi                 10959
tamponi_inc             10960
dtype: int64

In [90]:
regione=DATA.where(DATA['geografia']=='Toscana')
regione.dropna(axis=0,how='all',inplace=True)

regione.loc[:,['deceduti_inc','totale_ricoveri_inc','tamponi_inc']]=regione.loc[:,['deceduti_inc',
        'totale_ricoveri_inc','tamponi_inc']].fillna(0)
regione.loc[:,['giorno','totale_casi_positivi',
              'deceduti','totale_ricoveri','attualmente_positivi',
              'dimessi','tamponi']]=regione.loc[:,['giorno','totale_casi_positivi',
              'deceduti','totale_ricoveri','attualmente_positivi',
              'dimessi','tamponi']].astype('int64')
regione

,geografia,giorno,data,totale_casi_positivi,deceduti,deceduti_inc,totale_ricoveri,totale_ricoveri_inc,attualmente_positivi,dimessi,tamponi,tamponi_inc
10,Toscana,0,24/2/2020,0,0,0.000000,0,0.000000,0,0,140,0.000000
24,Toscana,1,25/2/2020,2,0,0.000000,2,0.000000,2,0,296,111.428570
38,Toscana,2,26/2/2020,2,0,0.000000,2,0.000000,2,0,363,22.635136
52,Toscana,3,27/2/2020,2,0,0.000000,2,0.000000,2,0,410,12.947659
66,Toscana,4,28/2/2020,8,0,0.000000,5,150.000000,7,1,437,6.585366
...,...,...,...,...,...,...,...,...,...,...,...,...
11742,Toscana,838,11/6/2022,1162512,10126,0.009877,200,-6.976744,24658,1127728,6810723,0.016491
11756,Toscana,839,12/6/2022,1163547,10126,0.000000,197,-1.500000,24684,1128737,6812155,0.021026
11770,Toscana,840,13/6/2022,1163981,10128,0.019751,219,11.167513,24395,1129458,6812587,0.006342
11784,Toscana,841,14/6/2022,1166162,10130,0.019747,229,4.566210,24947,1131085,6814174,0.023295
11798,Toscana,842,15/6/2022,1167901,10134,0.039487,228,-0.436681,26052,1131715,6815858,0.024713

In [91]:
regione.isna().sum()

geografia               0
giorno                  0
data                    0
totale_casi_positivi    0
deceduti                0
deceduti_inc            0
totale_ricoveri         0
totale_ricoveri_inc     0
attualmente_positivi    0
dimessi                 0
tamponi                 0
tamponi_inc             0
dtype: int64

In [92]:
DATA_province=DATA.where(DATA['geografia'] != 'Toscana')
DATA_province.dropna(axis=0,how='all',inplace=True)


DATA_province.drop(['totale_ricoveri',
                        'totale_ricoveri_inc','attualmente_positivi',
                   'dimessi','tamponi','tamponi_inc'],axis=1,inplace=True)

DATA_province.loc[:,['deceduti','deceduti_inc']]=DATA_province.loc[:,['deceduti','deceduti_inc']].fillna(0)
DATA_province.loc[:,['giorno','totale_casi_positivi',
              'deceduti']]=DATA_province.loc[:,['giorno','totale_casi_positivi',
              'deceduti']].astype('int64')
DATA_province

,geografia,giorno,data,totale_casi_positivi,deceduti,deceduti_inc
0,AR,0,24/2/2020,0,0,0.000000
1,FI,0,24/2/2020,0,0,0.000000
2,GR,0,24/2/2020,0,0,0.000000
3,LI,0,24/2/2020,0,0,0.000000
4,LU,0,24/2/2020,0,0,0.000000
...,...,...,...,...,...,...
11796,PT,842,15/6/2022,93378,910,0.000000
11797,SI,842,15/6/2022,82487,537,0.186567
11799,aslCENTRO,842,15/6/2022,497422,4936,0.000000
11800,aslNO,842,15/6/2022,418719,3474,0.057604
11801,aslSE,842,15/6/2022,251205,1585,0.126342

In [93]:
DATA_province.isna().sum()

geografia               0
giorno                  0
data                    0
totale_casi_positivi    0
deceduti                0
deceduti_inc            0
dtype: int64

In [94]:
print(pd.unique(DATA_province['geografia']))

['AR' 'FI' 'GR' 'LI' 'LU' 'MS' 'PI' 'PO' 'PT' 'SI' 'aslCENTRO' 'aslNO'
 'aslSE']

In [95]:
DATA_province.columns = ['Location', 'day', 'date', 'total_number_positive_people','deaths','deaths_increase']
DATA_province

,Location,day,date,total_number_positive_people,deaths,deaths_increase
0,AR,0,24/2/2020,0,0,0.000000
1,FI,0,24/2/2020,0,0,0.000000
2,GR,0,24/2/2020,0,0,0.000000
3,LI,0,24/2/2020,0,0,0.000000
4,LU,0,24/2/2020,0,0,0.000000
...,...,...,...,...,...,...
11796,PT,842,15/6/2022,93378,910,0.000000
11797,SI,842,15/6/2022,82487,537,0.186567
11799,aslCENTRO,842,15/6/2022,497422,4936,0.000000
11800,aslNO,842,15/6/2022,418719,3474,0.057604
11801,aslSE,842,15/6/2022,251205,1585,0.126342

In [96]:


regione.columns = ['Location', 'day', 'date', 'total_number_positive_people','deaths','deaths_increase','total_recoveries'
                ,'total_recoveries_increase','currently_positive','dismissed_patients','swabs','swabs_increase']
regione

,Location,day,date,total_number_positive_people,deaths,deaths_increase,total_recoveries,total_recoveries_increase,currently_positive,dismissed_patients,swabs,swabs_increase
10,Toscana,0,24/2/2020,0,0,0.000000,0,0.000000,0,0,140,0.000000
24,Toscana,1,25/2/2020,2,0,0.000000,2,0.000000,2,0,296,111.428570
38,Toscana,2,26/2/2020,2,0,0.000000,2,0.000000,2,0,363,22.635136
52,Toscana,3,27/2/2020,2,0,0.000000,2,0.000000,2,0,410,12.947659
66,Toscana,4,28/2/2020,8,0,0.000000,5,150.000000,7,1,437,6.585366
...,...,...,...,...,...,...,...,...,...,...,...,...
11742,Toscana,838,11/6/2022,1162512,10126,0.009877,200,-6.976744,24658,1127728,6810723,0.016491
11756,Toscana,839,12/6/2022,1163547,10126,0.000000,197,-1.500000,24684,1128737,6812155,0.021026
11770,Toscana,840,13/6/2022,1163981,10128,0.019751,219,11.167513,24395,1129458,6812587,0.006342
11784,Toscana,841,14/6/2022,1166162,10130,0.019747,229,4.566210,24947,1131085,6814174,0.023295
11798,Toscana,842,15/6/2022,1167901,10134,0.039487,228,-0.436681,26052,1131715,6815858,0.024713

In [97]:
DATA_province.to_csv(r"C:\\Users\diego\OneDrive\Desktop\DS\kaggle_datasets\covid_Tuscany\provinces_data.csv")
regione.to_csv(r"C:\\Users\diego\OneDrive\Desktop\DS\kaggle_datasets\covid_Tuscany\region_data.csv")

In [8]:
pd.read_csv(r"C:\\Users\diego\OneDrive\Desktop\DS\kaggle_datasets\covid_Tuscany\region_data.csv")

,Unnamed: 0,Location,day,date,total_number_positive_people,deaths,deaths_increase,total_recoveries,total_recoveries_increase,currently_positive,dismissed_patients,swabs,swabs_increase
0,10,Toscana,0,24/2/2020,0,0,0.000000,0,0.000000,0,0,140,0.000000
1,24,Toscana,1,25/2/2020,2,0,0.000000,2,0.000000,2,0,296,111.428570
2,38,Toscana,2,26/2/2020,2,0,0.000000,2,0.000000,2,0,363,22.635136
3,52,Toscana,3,27/2/2020,2,0,0.000000,2,0.000000,2,0,410,12.947659
4,66,Toscana,4,28/2/2020,8,0,0.000000,5,150.000000,7,1,437,6.585366
...,...,...,...,...,...,...,...,...,...,...,...,...,...
838,11742,Toscana,838,11/6/2022,1162512,10126,0.009877,200,-6.976744,24658,1127728,6810723,0.016491
839,11756,Toscana,839,12/6/2022,1163547,10126,0.000000,197,-1.500000,24684,1128737,6812155,0.021026
840,11770,Toscana,840,13/6/2022,1163981,10128,0.019751,219,11.167513,24395,1129458,6812587,0.006342
841,11784,Toscana,841,14/6/2022,1166162,10130,0.019747,229,4.566210,24947,1131085,6814174,0.023295
842,11798,Toscana,842,15/6/2022,1167901,10134,0.039487,228,-0.436681,26052,1131715,6815858,0.024713